<!DOCTYPE html>
<html lang="en">
<!-- ********* After Login ********** -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RD Shop Home Page</title>
    <link rel="shortcut icon"
        href="https://cdn2.iconfinder.com/data/icons/ux-and-ui-astute-vol-1/512/Full_Stack_Developer-512.png"
        type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">


</head>

<body>
    <div id="particles-js"></div>

    <nav>
        <a href="#" class="logo">RD SHOP</a>

        <button class="hamburger">
            <i class="fas fa-bars"></i>
        </button>

        <div class="nav-links">
            <div class="search-bar">
                <input type="text" placeholder="Search products...">
            </div>

            <ul>
                <li><a href="/product/home">Home</a></li>
                <li class="dropdown">
                    <a href="">Categories</a>
                    <div class="dropdown-content">
                        <a href="/product/category/Laptop">Laptops</a>
                        <a href="/product/category/Macbook">MacBook</a>
                        <a href="/product/category/Desktop">Desktops</a>
                        <a href="/product/category/Accessories">Accessories</a>
                        <a href="/product/category/Mobile">Mobiles</a>
                        <a href="/product/category/Watch">Watches</a>
                        <a href="/product/category/Ladies Fashion">Ladies Clothes</a>
                        <a href="/product/category/Mens Fashion">Mens Clothes</a>
                    </div>
                </li>
                <li><a href="#">Orders</a></li>
            </ul>

            <div class="icons">
                <a href="/user/profile" style="display: flex;">User<i class="fas fa-user" style="margin-left: 5px;"></i></a>
                <a href="/product/addCart"><i class="fa-brands fa-opencart"></i></a>
            </div>
        </div>
    </nav>


    <section id="Philanthropy">
        <div class="heading" id="heading">
            <h2 id="typed-text"></h2> <!-- Updated to include an ID for the text -->
        </div>
        <div class="container">
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/12/dd/b6/12ddb6d43689fb3598e4b96277436d5b.jpg" alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Desktop">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Gaming Desktop</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/ef/55/77/ef5577105b3606174b16567366aa634a.jpg" alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Macbook">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>MacBook</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://cdn.pixabay.com/photo/2024/05/21/21/54/ai-generated-8779205_640.png"
                                alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Laptop"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Gaming Laptop</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/a2/94/b5/a294b593769b6bf61b55c152032e7459.jpg" alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Accessories"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Accessories</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/d6/fd/66/d6fd664cb1c4cebda31a538e3798c959.jpg" alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Watch"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Premium Watch</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://cdn.pixabay.com/photo/2017/06/06/16/48/woman-2377742_640.jpg" alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Ladies Fashion"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Ladies Dress</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://media.istockphoto.com/id/1127767024/photo/close-up-of-handsome-caucasian-businessman-buttoning-up-jacket-while-standing-outdoor.jpg?s=1024x1024&w=is&k=20&c=Bd35cdGUh-wpxRuQY6Rj9KbsDAanaFigUtGyEWvOnCQ="
                                alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Mens Fashion"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Men Fashion</h2>


                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/45/21/ad/4521ad9a34b38a6dfa027f3560334822.jpg" alt="" />
                        </div>
                        <div class="icon">
                            <span>
                                <a href="/product/category/Mobile"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Mobile</h2>

                </div>
            </div>
        </div>
    </section>


    
    <footer class="main-footer">
        <div class="container">
            <div class="footer-content">
                <div class="footer-column logo-widget">
                    <figure class="logo-box">
                        <!-- <a href="#"><img src="https://i.ibb.co/QDy827D/ak-logo.png" alt="Logo"></a> -->
                        <h1 style="color: #7f00ff;">RD CodeFlair</h1>
                    </figure>
                    <div class="text">
                        <p>Hello, I’m Rakesh Kr. Dey, a BCA student and a passionate aspiring MERN Stack Developer. I’ve
                            created this E-commerce website to highlight my Frontend & Backend Skills.</p>
                    </div>
                    <ul class="footer-social">
                        <li><a href="https://www.linkedin.com/in/rakeshdey007?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a></li>
                        <li><a href="https://www.instagram.com/rd_codeflair/profilecard/?igsh=MWJqOTY1cGtlcHh0eQ==" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/profile.php?id=61566969670429&mibextid=ZbWKwL" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="https://x.com/RD_Gaming796974?t=3e8GbP2OmBJsx7MFL1ZELQ&s=09" target="_blank"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                </div>
                <div class="footer-column service-widget">
                    <div class="footer-title">Services</div>
                    <ul class="list">
                        <li><a href="#home">Home</a></li>
                        <li><a href="#candidate">Categories</a></li>
                        <li><a href="#orders">Orders</a></li>
                        <li><a href="#profile">Profile</a></li>
                        <li><a href="#cart">Cart</a></li>
                    </ul>
                </div>
                <div class="footer-column contact-widget" style="z-index: 100;">
                    <div class="footer-title">Contacts</div>
                    <div class="text" style="z-index: 100;">
                        <p>Guskara, Purba Bardhaman, West Bengal</p>
                        <p><a href="tel:+91 7001584784" style="color: #9ea0a9;">+91 7001584784</a></p>
                        <p><a href="mailto:deyrakesh909@gmail.com"  style="color: #9ea0a9;">deyrakesh909@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom-content">
                <div class="copyright" style="letter-spacing: 1px;">
                    <a href="#">Rakesh</a> &copy; 2025 All Rights Reserved
                </div>
                
            </div>
        </div>
    </div>



    <script src="/js/home.js"></script>
</body>

</html>