<!DOCTYPE html>
<html lang="en">
<!-- ********* Before Login Page *********** -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RD CodeFlair</title>
    <link rel="stylesheet" href="/css/Donation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">

</head>

<body>
    <nav class="navbar">
        <div class="logo"><span style="color: cyan;">RD CodeFlair</span> &nbsp;<i class="fa-solid fa-share"></i>&nbsp; RD
            Shop</div>
        <a href="/user"><button class="login-btn">Login</button></a>
    </nav>

    <section id="Philanthropy">
        <div class="heading">
            <h2>Login Now &nbsp;<i class="fa-solid fa-share"></i>&nbsp; To Explore The Website</h2>
        </div>
        <div class="container">
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/12/dd/b6/12ddb6d43689fb3598e4b96277436d5b.jpg" alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Gaming Desktop</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/ef/55/77/ef5577105b3606174b16567366aa634a.jpg" alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#">
                                    <i class="fa-solid fa-arrow-right"></i>
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>MacBook</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://cdn.pixabay.com/photo/2024/05/21/21/54/ai-generated-8779205_640.png"
                                alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Gaming Laptop</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/a2/94/b5/a294b593769b6bf61b55c152032e7459.jpg" alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Devices</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/d6/fd/66/d6fd664cb1c4cebda31a538e3798c959.jpg" alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Premium Watch</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://cdn.pixabay.com/photo/2017/06/06/16/48/woman-2377742_640.jpg" alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Ladies Dress</h2>

                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://media.istockphoto.com/id/1127767024/photo/close-up-of-handsome-caucasian-businessman-buttoning-up-jacket-while-standing-outdoor.jpg?s=1024x1024&w=is&k=20&c=Bd35cdGUh-wpxRuQY6Rj9KbsDAanaFigUtGyEWvOnCQ="
                                alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Men Blazzer</h2>


                </div>
            </div>
            <div class="card">
                <div class="card-inner">
                    <div class="box">
                        <div class="img-box">
                            <img src="https://i.pinimg.com/736x/45/21/ad/4521ad9a34b38a6dfa027f3560334822.jpg" alt="">
                        </div>
                        <div class="icon">
                            <span>
                                <a href="#"><i class="fa-solid fa-arrow-right"></i></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h2>Mobile</h2>

                </div>
            </div>
        </div>
    </section>


</body>

</html>